:root {
    --mobileDown: 767px;
    --tabletDown: 1024px;
}

header {
    /* background: linear-gradient(to right, orange, orangered); */
    background: linear-gradient(45deg, #ef1bc0, #4472eb);
    /* background: orange; */
    color: white;
    padding: 50px 25px;
    display: flex;
    justify-content: space-between;
}
button {
    background: white;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    cursor: pointer;
}
h1 {
    margin: 0;
}
table {
    width: calc(100% - 20px);
    margin: 0 auto;
    border-collapse: collapse;
}
thead {
    background: #eee;
}
th {
    font-size: .9em;
    color: #333;
    padding: 5px 0;
}
th.position,
th.club,
td.position,
td.club {
    text-align: left;
}
td {
    padding: 18px 0;
    text-align: center;
}
tr {
    border-bottom: 1px solid #ddd;
}
tr.first-place {
    border-color: #4472eb;
}

.badge {
    display: inline-block;
    width: 18px;
    height: 18px;
    vertical-align: middle;
    border-radius: 50%;
}
.clubname {
    vertical-align: middle;
}
.club .badge {
    margin-right: 10px;
}
th.gf,
th.ga,
th.gdiff {
    padding: 0 7px;
}
.next {
    text-align: center;
}
.points {
    font-weight: 900;
}

@media (max-width: 1024px) {
    .hidden-sm {
        display: none;
    }
}

@media (max-width: 767px) {
    .hidden-xs {
        display: none;
    }
}
