:root {
    --mobileDown: 767px;
    --tabletDown: 1024px;
}

header {
    background: linear-gradient(45deg, #ef1bc0, #4472eb);
    color: white;
    padding: 50px 25px;
    display: flex;
    justify-content: space-between;
}
button {
    background: white;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    cursor: pointer;
}
h1 {
    margin: 0;
}
table {
    width: calc(100% - 20px);
    margin: 0 auto;
    border-collapse: collapse;
}
thead {
    background: #eee;
}
th {
    font-size: .9em;
    color: #333;
    padding: 5px 0;
}
th.position,
th.club,
td.position,
td.club {
    text-align: left;
}
td {
    padding: 18px 0;
    text-align: center;
}
tr {
    border-bottom: 1px solid #ddd;
}
tbody tr:nth-child(1) {
    border-color: #4472eb;
}
tbody tr:nth-last-child(4) {
    border-color: red;
}

td.position {
    padding-left: 15px;
    position: relative;
    cursor: pointer;
}

.position .previous {
    display: inline-block;
    margin-left: 20px;
}
.position .previous.no-movement {
    width: 3px;
    height: 3px;
    border-radius: 50%;
    background: #333;
    vertical-align: middle;
}
.position .previous.moved-up {
    position: relative;
    top: -3px;
    border: 5px solid #0ee00e;
    border-left-color: transparent;
    border-right-color: transparent;
    border-top-color: transparent;
}
.position .previous.moved-down {
    position: relative;
    top: 3px;
    border: 5px solid red;
    border-left-color: transparent;
    border-right-color: transparent;
    border-bottom-color: transparent;
}

.position:hover .tooltip {
    display: block;
}

.tooltip {
    display: none;
    position: absolute;
    top: -25%;
    right: -25%;
    font-size: 12px;
    text-align: center;
    color: white;
    background: #4472eb;
    background: #ef1bc0;
    padding: 8px;
    box-shadow: 0 5px 20px rgba(0,0,0,.25);
    white-space: nowrap;
}

.badge {
    display: inline-block;
    width: 18px;
    height: 18px;
    vertical-align: middle;
    border-radius: 50%;
}
.clubname {
    vertical-align: middle;
    /* font-weight: bold; */
}
.club .short-name {
    font-weight: bold;
}
.club .badge {
    margin-right: 10px;
}

.club > svg {
    font-size: 1.2em;
    vertical-align: middle;
    margin-right: 20px;
}

.points {
    font-weight: 900;
}

th.gf,
th.ga,
th.gdiff {
    padding: 0 7px;
}

.next {
    text-align: center;
}

td.next {
    position: relative;
}

td.next svg {
    font-size: .8em;
}

td.next .next-opponent {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

td.next .next-opponent:before {
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border: 1px solid gray;
}

td.form {
    position: relative;
}

.form ul {
    text-align: center;
    list-style: none;
    padding: 0;
    margin: 0;
}
.form ul li {
    display: inline-block;
    padding: 0 5px;
    cursor: pointer;
    position: relative;
}
.form ul li abbr {
    display: block;
    width: 15px;
    height: 15px;
    font-size: 12px;
    line-height: 15px;
    font-weight: 900;
    text-decoration: none;
    color: #fff;
    border-radius: 50%;
    padding: 5px;
}
.form ul li abbr.win {
    background: #ef1bc0;
}
.form ul li abbr.loss {
    background: #4472eb;
}
.form ul li abbr.draw {
    background: #333;
}

.form ul li .tooltip {
    top: -55px;
    right: 0;
}

.form ul li:hover .tooltip {
    display: block;
    color: inherit;
    background: white;
    border: 1px solid #ef1bc0;
    padding: 15px 10px 10px 10px;
}

.form ul li:hover .tooltip .score {
    padding: 0 10px;
}

.form ul li:hover .tooltip .short-name {
    font-size: 15px;
    font-weight: 900;
}

.form ul li:hover .tooltip .short-name svg {
    margin: 0 0 0 10px;
}

.form ul li:hover .tooltip .short-name.opponent svg {
    margin: 0 10px 0 0;
}

@media (min-width: 1025px) {
    .hidden-md-up {
        display: none;
    }
}

@media (max-width: 1024px) {
    .hidden-sm {
        display: none;
    }
}

@media (max-width: 767px) {
    .hidden-xs {
        display: none;
    }
}
